{% extends 'base.html.twig' %}
{% block body %}

<p id="redir">ACCUEIL>MON PROFILE</p>

{% include 'nav.html.twig' %}
<div id="slider">
			<div id="slider-images">

{% for pictures in app.user.pictures %}
    <img src="{{asset('uploads/'~ pictures.name)}}" alt="mariage"/>
{% endfor %}
</div>
		</div>

{% endblock %}
