{% block body %}
<footer>

<h2>Vous faite partie de la liste des services et vous n'êtes pas encore inscrit... qu'attendez-vous?...</h2>

<a id="footerlink" href="{{path ('prestataire')}}">Devenir prestataire</a>

<h3>Facebook</h3>


<hr/>
<span>copyright Arabian Event.com 2017 </span>

</footer>
{% endblock %}
