{% extends 'base.html.twig' %}

{% block body %}
 {{ parent() }}
 <p id="redir">ACCUEIL>QUI SOMMES-NOUS</p>

<div class="container">
 	<div class="row">
		 <div class="col-6">
			 <div class="QuiNousSommes">


 		 	<h2 class="titre">Qu'est-ce que ArabianEvents.com ?</h2>

 			<p class= "pQui">ArabianEvents.com est le portail qui permet à ses utilisateurs d'organiser leurs différent
 			évenement (mariages, naissances, autres fêtes...). </br> En répertoriant l'ensemble des professionnelles du domaine, ArabianEvents.com vous facilite vos recherches et vous offres un maximum d'informations sur les préstataire. </p>


 			<p class= "pQui">ArabianEvents offre également la possibilité aux préstataires d'avoir une vitrine leur perméttant de présenter leurs services et créations, mais également d'être visible sur la toile par toute les personnes desirant organiser un événement façon mille et une nuit... </p>


 			<h1 class="titre">Information de contact</h1>

		<div class="contact">

			<ul>
    		<li>Email: arabiantevents@gmail.com</li>
    		<li>Tel.: 00.00.00.00.00</li>
    		<li>Fax: 00.00.00.00.00</li>
			</ul>

		</div>

			</div>
		</div>
	</div>
</div>


{% endblock %}
